

<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Req Number</th>
            <th scope="col">Driver Accepted</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of searchedRequests">
            <th scope="row">{{u._id}}</th>
            <td>{{u.isDriverAccepted}}</td>
            <td><button class="btn btn-danger" routerLink="/view-request-details" (click)="getId(u._id)">Click to View</button></td>
          </tr>
        </tbody>
      </table>
      
