<div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-9" style="margin-left: 350px;">
<!-- 
      <div class="card" style="width: 18rem; margin:10px;" *ngFor="let u of driverList">
        <div class="card-body">
          <h4 class="card-title">{{u.name}}</h4>
          <p class="card-text">Working Days</p>
          <div class="list-group">
            <a *ngFor="let dates of u.WorkingDates" class="list-group-item list-group-item-action list-group-item-primary">{{dates}}</a>
          </div>
          <br>
          <h6 class="card-subtitle mb-2 text-muted">Phone Number: {{u.mobile}}</h6>
        
        </div>
      </div> -->

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Drivers</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3" *ngFor="let u of driverList">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
            <h3><a>{{u.name}}</a></h3>
            <p>{{u.mobile}}</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</section>
