<section class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="contact_inner">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="contact_form_inner">
                                <div class="contact_field">
                                    <h3>Feed Back</h3>
                                    <p>Feel Free to give us feed back at any time. We will get back to you as soon as we can!.</p>
                                    <input type="text" class="form-control form-group" placeholder="Name" />
                                    <input type="text" class="form-control form-group" placeholder="Email" />
                                    <textarea class="form-control form-group" placeholder="Message"></textarea>
                                    <button class="contact_form_submit">Send</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="right_conatct_social_icon d-flex align-items-end">
                               <div class="socil_item_inner d-flex">
                                  <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact_info_sec">
                        <h4>Contact Info</h4>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-headset"></i>
                            <span>0114533900</span>
                        </div>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-envelope-open-text"></i>
                            <span>https://www.masholdings.com/</span>
                        </div>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>The company has design and development hubs in New York, London, Hong Kong and Colombo.</span>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="map_inner">
                    <h4>Find Us on Google Map</h4>
                    <p>MAS Holdings, the largest apparel tech company in South Asia, is a leading concept-to-delivery solution provider in apparel and textile manufacturing, sought after by the world's leading brands.</p>
                    <div class="map_bind">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34554.735564878334!2d79.90950195617773!3d6.908013158185341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25912d81184ef%3A0x6e414f599708e8f3!2sMAS%20Holdings!5e0!3m2!1sen!2slk!4v1653314917745!5m2!1sen!2slk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

