<header class="masthead">
  </header>
    <section class="introduction-section">
      <div class="container">
      <h1>WE ARE
        CHANGEMAKERS</h1>
      <p>MAS Holdings is a <strong>global apparel</strong>  tech conglomerate providing concept-to-delivery solutions for the world’s leading apparel brands.

        We anticipate the trends of tomorrow to <strong>innovate solutions</strong>  that push the boundaries of human potential. Our <strong>unique partnerships</strong> have led to groundbreaking progress while our commitment to the planet makes MAS Holdings the benchmark for sustainable and ethical manufacturing.
      </p>
      
     
      </div>
    </section>
  
    <section class="location-section">
      <div class="container">
      <h1>Our Story</h1>
      <p>We were born to an island known for the mass production of apparel led by three brothers who viewed every challenge that came their way as an opportunity. Their pursuit would not end at creating high-quality lingerie. 
          They envisioned and then accomplished the production of <strong>revolutionary sportswear, swimwear, and athleisure,</strong>  building remarkable partnerships along the way. Today this legacy has made MAS a sought-after 
          product co-creation partner by the world’s largest and most iconic apparel brands.

        This journey was always bound by a <strong>stringent Code</strong> of Conduct that has made MAS Holdings the USD 2 billion company it is today. As we continue to expand across borders,  <strong>our innovations and processes</strong> continue to disrupt convention and challenge the status quo.
        
        Today we are the employer and partner of choice for the best talent and brands in the industry.</p>
      </div>
    </section>
  
    <section class="questions-section">
      <div class="container">
      <h1>DRIVEN WITH PURPOSE</h1>

      <p>A people-oriented culture is the hallmark of <strong>MAS Holdings</strong> . From inception, we had a clear mandate to prioritise the welfare of our employees and even today, we aspire to change lives for good. We put people <strong>before profit,</strong>  providing working conditions that are conducive to a healthy and enriched lifestyle. We listen to our local communities, adapt to their needs and innovate to ease the challenges they face. <strong>Exemplary labour practices</strong>  and their stringent enforcement make MAS the home of ethical manufacturing.

        Moving beyond our WRAP Platinum certifications, we now have our own qualified team of <strong>independent compliance officers </strong> assuring that our standards are above par. The MAS story of guilt-free garments goes beyond awards and certifications. The benchmarks we set speak for themselves and <strong>our trusted partnerships</strong> are testament to this.
        
        Learn more about our commitment to good corporate governance by reading through the sections on our Purpose, Vision, Mission, and Values.</p>
      </div>
    </section>
  
    <footer class="content-footer">
      <div class="footer-container">
      <p>Say hi to us on <a routerLink="/contact-us">Contact Us</a></p>
      <p>Cover Image via <a href="https://www.echelon.lk/how-mas-holdings-became-one-of-asias-most-innovative-companies/">www.echelon.lk</a></p>
  </div>
    </footer>